#titulo-principal{
    background-color: aqua;
    font-size: small;
    border: 2px solid black;
    padding: 1px 1px 1px 1px;
    margin: 10px 10px 0px auto;
    text-align: center;

}

header {
    background-color: cornflowerblue;
    width: 90;
    height: 170px;
    border: 1px solid black;
    padding: 0px 1px 0px 10px;
    margin: 0px 10px 0px 500px;
    
}

.seccion-lateral {
    background-color: #2E4053;
    width: 35%;
    height: 1000px;
    font-size: xx-large;
    border: 1px solid red;
    padding: 0px 5px 0px 5px;
    margin: -170px 0px 0px 5px;
}

#sub-titulo {
    font-size: medium;
    margin: -30px 2px 0px 2px;
    background-color: red;
}

.image-profile {
    width: 150px;
    height: 200px;
    margin: 15px 50px 0px 150px;

}

.etiqueta1 {
    font-size: medium;
    padding: -2x -2px -2px -2px;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid;
    margin-top: 10px;
}

#text1 {
    background-color: violet;
    font-size: medium;
    margin-top: -5px;
}

#text1_1 {
    background-color: gold;
    font-size: small;
    margin-top: -10px;
}

#text2 {
    background-color: royalblue;
    font-size: medium;
    margin-top: -10px;

}

#text2_1 {
    background-color: yellow;
    font-size: small;
    margin-top: -5px;
}

#text3 {
    background-color: blue;
    font-size: medium;
    margin-top: 10px
}

#text3_1 {
    background-color: aquamarine;
    font-size: small;
    margin-top: 10px

}

#text4 {
    background-color: rosybrown;
    font-size: medium;
    margin-top: 10px
}

#text4_1 {
    background-color: palevioletred;
    font-size: small;
    margin-top: 10px
}

.etiqueta3 {
    background-color: blueviolet;
    font-size: medium;
    margin-top: -5px;
}

.skills {
    background-color: hotpink;
    font-size: small;
    font-style: italic;
    margin-top: -5px;
    
}

.informacion-general {
    background-color: palevioletred;
    margin: -820px 500px 2000px 500px;
    border: 1px solid black;
    width: 820px;
    height: 815px;
}


#experiencia {
    font-size: large;
    background-color: greenyellow;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 5px 5px 5px 5px;

}

#titulo1 {
    background-color: aquamarine;
    border: 1px solid black;
    text-align: center;


}

#trabajo1 {
    background-color: cornflowerblue;
    padding: 10px 5px 5px 5px;
    margin: 10px 5px 5px 5px;
    
}

#lista1 {
    margin-top: 10px;

}

#trabajo2{
    background-color: cornflowerblue;
    padding: 10px 5px 5px 5px;
    margin: 10px 5px 5px 5px;

}

#titulo2 {
    background-color: aquamarine;
    border: 1px solid black;
    text-align: center;

}

#lista2 {
    margin-top: 10px;
}




#educacion {
    background-color: greenyellow;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: large;
    margin: 5px 5px 5px 5px;

    
}

#apartado2{
    background-color: cornflowerblue;
    padding: 10px 5px 5px 5px;
    margin: 10px 5px 5px 5px;
    height: 150px;


}

#preparatoria {
    background-color: aquamarine;
    border: 1px solid black;
    text-align: center;
    margin-top: 5px;
}

#preparatoria-1 {
    margin-top: 10px;

}

#universidad {
    background-color: aquamarine;
    border: 1px solid black;
    margin-top: 10px;
    text-align: center;

}

#universidad-1 {
    margin-top: 10px;

}

