body {
    background-image: url(colllage.webp);



}

header {
    background: black;
    margin: -10px;
    width: 100%;
    clear: both;
    content: '';
    display: table;


}


.menu {
    width: 1500px;
    margin: 0 auto;

}


img {
    width: 120px;
    height: 60px;
    float: left;
    padding: 0px;

}

nav {
    float: left;

}

nav ul li {
    color: antiquewhite;
    list-style: none;
    margin-left: 25px;
    float: left;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: antiquewhite;
    font-weight: bold;

}

nav ul li a ::before {
    display: block;
    content: '';
    width: 100%;
    background: antiquewhite;
    height: 5px;
    top: 0;
    position: absolute;
    transition: width 0.2s;

}

nav ul li a :hover::before {
    width: 100%;
}


section {
    background-color: none;
    padding-top: 25px;
    padding-bottom: 100px;
    padding-left: 15px;
    padding-right: auto;
    margin: 50px;
    width: 500px;
    height: auto;




}


#imagen1 {
    width: 100px;
    padding-top: 1px;
    padding-left: 1px;
    padding-bottom: 1px;
    
}


#div2 {
    color: azure;
    font-weight: bold;
    font-size: xx-large;
    padding-left: 150px;

}

#text1 {
    color: azure;
    font-weight: bold;
    font-size: 25px;
    padding-left: 50px;
    padding-top: 10px;
}

#text2 {
    color: azure;
    font-weight: bold;
    font-size: 20px;
    padding-top: 0px;
    padding-left: 25px;

}

#text3 {
    color: blanchedalmond;
    font-weight: bold;
    font-size: 15px;
}

#Botones {
    padding-top: 15px;

}