body {
    background-color: cornflowerblue;
}

.padre {
    background-color: aquamarine;
    width: 100%;
    height: auto;
    padding: 5px;  /* modificar */

}

.hijo {
    font-size: small;
    font: 13px arial;
    background-color: blue;
    display: flex;
    flex-direction: row; 
    justify-content: end; 
    text-align: center;

}

.hijo > div {
  background-color: pink;
  width: 100px;
  height: auto;
  margin: 10px;

}

img {
    border-radius: 50%;
    width: 32px;
    height: 32px;

}