body {
    background-color: black;

}

.imagen {
    height: ;
    padding-top: -1px;
    padding-bottom: -1px;
    padding-left: 1px;
    padding-right: 1px;  
}

.fondo {
    color: antiquewhite;
    width: 100%;
    height: auto;
    font-size: 40px;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
    border-top: 100px;
    border-bottom: 100px;
    border-left: 100px;
    border-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.imagen1{
    background-color: wite;
    display: inline;
    margin: 3px;
    padding-top: 100px;
    padding-bottom: 15px;
    padding-left: 150px;
    padding-right: 15px;


}
.imagen2 {
    background-color: wite;
    display: inline;
    margin: 3px;
    padding-top: 100px;
    padding-bottom: 15px;
    padding-left: 60px;
    padding-right: 15px;

}

.imagen3 {
    background-color: wite ;
    display: inline;
    margin: 3px;
    padding-top: 100px;
    padding-bottom: 15px;
    padding-left: 60px;
    padding-right: 15px;
}

.imagen4 {
    background-color: wite;
    display: inline;
    margin: 3px;
    padding-top: 100px;
    padding-bottom: 15px;
    padding-left: 60px;
    padding-right: 15px;
}

.pie {
    color: antquewhite;
    font-size: small;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: auto;
    padding-left: 45%;   

}



